<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissões -->
    <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_relatorio"
        android:roundIcon="@mipmap/ic_launcher_relatorio_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RelatorioTecnico">

        <!-- Telas de relatório -->
        <activity
            android:name=".ui.relatorio.RelatorioDetalheActivity"
            android:exported="false" />
        <activity
            android:name=".ui.relatorio.RelatorioListaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.relatorio.RelatorioFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.relatorio.TipoRelatorioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.relatorio.RelatorioCompressorFormActivity"
            android:exported="false" />

        <!-- Telas de cliente -->
        <activity
            android:name=".ui.cliente.ClienteFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cliente.ClienteListaActivity"
            android:exported="false" />

        <!-- Tela de LOGIN (nova tela inicial / launcher) -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela principal após login -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />

        <!-- FileProvider para compartilhar PDFs -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.soutech.relatoriotecnico.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
    </provider>


        <activity
         android:name=".ui.maquina.CadastroMaquinaActivity"
         android:exported="false" />

       <activity
         android:name=".ui.maquina.MaquinasCadastradasActivity"
         android:exported="false" />


       <activity
         android:name=".ui.tecnico.CadastroTecnicoActivity"
         android:exported="false" />

       <activity
         android:name=".ui.tecnico.TecnicosCadastradosActivity"
         android:exported="false" />



    </application>

</manifest>
