<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher_relatorio"
    android:roundIcon="@mipmap/ic_launcher_relatorio_round"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.RelatorioTecnico">

    <activity
        android:name=".ui.relatorio.RelatorioDetalheActivity"
        android:exported="false" />
    <activity
        android:name=".ui.relatorio.RelatorioListaActivity"
        android:exported="false" />
    <activity
        android:name=".ui.relatorio.RelatorioFormActivity"
        android:exported="false" />
    <activity
        android:name=".ui.cliente.ClienteFormActivity"
        android:exported="false" />
    <activity
        android:name=".ui.cliente.ClienteListaActivity"
        android:exported="false" />
    <activity
        android:name=".ui.relatorio.TipoRelatorioActivity"
        android:exported="false" />
    <activity
        android:name=".ui.relatorio.RelatorioCompressorFormActivity"
        android:exported="false" />

    <activity
        android:name=".ui.MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="com.soutech.relatoriotecnico.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>

</application>